#container{
	position:relative;
	margin:auto;
	width:400px;
	height:450px;
	box-sizing: border-box;         
	border: 2px solid rgb(96, 143, 176);
	background-color: #b3d9ff;
}

#conv{
	margin:auto;
	width:370px;
	height:300px;
	position: absolute;
	top: 15px;
	left: 15px;
	box-sizing: border-box;         
	background-color: #b3d9ff;
    overflow-y: auto;
	font-family: Helvetica, sans-serif;
	font-size: 11pt;
	line-height: 1.5;
}

#text-input{
	margin:auto;
	width: 90%;
	position: absolute;
	left: 15px;
	bottom: 35px;
}

#send-btn{
	margin:auto;
	position: absolute;
	right: 2px;
	bottom: 5px;
  background-color: #B1A296; /* Green */
  border-radius: 8px;
  color: white;
  text-align: center;
  display: inline-block;
}
*{box-sizing: border-box;}
.mySlides {display: none;}
img {
  vertical-align: middle;
  border: none;
  width: 25%;
  height: 300px;
  align-items: center;
	justify-content: center;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  align-items: center;
	justify-content: center;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 2.5s;
  animation-name: fade;
  animation-duration: 2.5s;
}

@-webkit-keyframes fade {
  from {opacity: .1} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .1} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
div {
	font-family: Serif, cursive, sans-serif
	text-align: center;
}

input {
	font-family: Serif, cursive, sans-serif
}

#quarter-page {
	width: 25%;
	float: left;
}

#row{
  float: left;
}
h1 {
	font-family: Serif, cursive, sans-serif
}

button{
	font-family: Serif, cursive, sans-serif
}

ul {
	list-style-type: none;
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #5d5c61;
}

li {
	float: left;
	border-right: 1px solid #88AFCB;
}

li:last-child {
	float: right;
	border-right: none;
}

li a {
	display: block;
	color: #88AFCB;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: "Serif", cursive, sans-serif;
}

li a:hover {
	background-color: #111;
}

#frontbutton {
  background-color: #B1A296; /* Green */
  border-radius: 8px;
  color: white;
  text-align: center;
  display: inline-block;
  font-size: 24px;
  align-items: center;
	justify-content: center;
}
button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

body {
  background-color: #88AFCB;
}

#text {
  color: #404040;
}

#send {
  align-items: center;
	justify-content: center;
}
