#container{
	position:relative;
	margin:auto;
	width:800px;
	height:700px;
	box-sizing: border-box;
	border: 2px solid #80ff80;
	background-color: #e6ffcc;
}

#conv{
	margin:auto;
	width:370px;
	height:300px;
	position: absolute;
	top: 15px;
	left: 15px;
	box-sizing: border-box;
	background-color: #e6ffcc;
	overflow-y: auto;
	font-family: Helvetica, sans-serif;
	font-size: 11pt;
	line-height: 1.5;
}

#text-input{
	margin:auto;
	width: 90%;
	position: absolute;
	left: 15px;
	bottom: 35px;
}

#send-btn{
	margin:auto;
	position: absolute;
	right: 2px;
	bottom: 5px;
}

div {
	font-family: "Comic Sans MS", cursive, sans-serif
	text-align: center;
}

input {
	font-family: "Comic Sans MS", cursive, sans-serif
}

#quarter-page {
	width: 25%;
	float: left;
}

h1 {
	font-family: "Comic Sans MS", cursive, sans-serif
}

button{
	font-family: "Comic Sans MS", cursive, sans-serif
}

ul {
	list-style-type: none;
	position: fixed;
	top: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333333;
}

li {
	float: left;
	border-right: 1px solid #BBBBBB;
}

li:last-child {
	float: right;
	border-right: none;
}

li a {
	display: block;
	color: #00FF00;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

li a:hover {
	background-color: #111;
}

#wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}
